if: tag IS blank
git:
  depth: 1
sudo: false
language: node_js
node_js:
  - "8"
  - "10"
  - "12"

before_install:
  - npm install -g lerna yarn

install:
  - lerna bootstrap --registry=https://registry.npmjs.org/

script:
  - commitlint-travis
  - lerna run test
